@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@utility text-heading {
  @apply text-black dark:text-white;
}
@utility text-subheading {
  @apply text-neutral-950 dark:text-neutral-50;
}
@utility text-body {
  @apply text-neutral-800 dark:text-neutral-200;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ubuntu-mono);
  --font-mono: var(--font-ubuntu-mono);
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu-mono), Arial, Helvetica, sans-serif;
}
